<ion-content>
  <div *ngIf="tourA">
    <div class="blur">
      <ion-buttons>
        <ion-menu-button class="hamburger" menu="main-menu">
        </ion-menu-button>
      </ion-buttons>
      <h1 class="title">
        Bem vindo ao seu espaço <br>
        <span>Rewards</span>
      </h1>
    </div>


    <div style="margin-top: 30px;" class="flex-itens">
      <p>
        Você possui:
      </p>
      <p style="font-weight: 700;">
        0 pontos
      </p>

    </div>
    <div class="absolute">
      <div class="flex">
        <div>
          <img src="../../assets/icones/arrowup-icon.svg" alt="">
        </div>
        <div>
          <h1 class="center">
            Acima são os seus pontos acumulados até o momento.
          </h1>
        </div>
      </div>
    </div>


    <div class="blur">
      <div>
        <h1 class="title-section">
          Contagem de pontos
        </h1>
        <div class="flex-itens">
          <p>
            Acessar o app
          </p>
          <p style="font-weight: 700;">
            00 pontos
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Transferências
          </p>
          <p style="font-weight: 700;">
            00 pontos
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Vendas Online
          </p>
          <p style="font-weight: 700;">
            00 pontos
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Indicar amigos
          </p>
          <p style="font-weight: 700;">
            00 pontos
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            00 pontos
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            00 pontos
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            00 pontos
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            00 pontos
          </p>
        </div>
      </div>


      <div>
        <h1 class="title-section">
          Porcentagem do cashback
        </h1>
        <div class="flex-itens">
          <p>
            Pagamentos de Contas
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Recargas
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            TED
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Uso do Cartão
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
      </div>
    </div>
    <div (click)="openTourB()" class="bottom">
      <div class="cta-tour">
        Entendi, continuar
      </div>
    </div>
  </div>

  <!-- TOUR 2 -->

  <div *ngIf="tourB">

    <div class="bottom">
      <div (click)="openTourC()" class="cta-tour">
        Entendi, continuar
      </div>
    </div>
    <div>
      <h1 class="title-section">
        Contagem de pontos
      </h1>
      <div class="flex-itens">
        <p>
          Acessar o app
        </p>
        <p style="font-weight: 700;">
          00 pontos
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Transferências
        </p>
        <p style="font-weight: 700;">
          00 pontos
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Vendas Online
        </p>
        <p style="font-weight: 700;">
          00 pontos
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Indicar amigos
        </p>
        <p style="font-weight: 700;">
          00 pontos
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          00 pontos
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          00 pontos
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          00 pontos
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          00 pontos
        </p>
      </div>
    </div>

    <div class="absolute">
      <div class="flex">
        <div>
          <img src="../../assets/icones/arrowup-icon.svg" alt="">
        </div>
        <div>
          <h1 class="center">
            Essa é a listagem de quantos pontos por transação você obtém.
          </h1>
        </div>
      </div>
    </div>

    <div class="blur">
      <div>
        <h1 class="title-section">
          Porcentagem do cashback
        </h1>
        <div class="flex-itens">
          <p>
            Pagamentos de Contas
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Recargas
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            TED
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Uso do Cartão
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
        <div class="flex-itens">
          <p>
            Lorem Ipsum
          </p>
          <p style="font-weight: 700;">
            0,0%
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- TOUR 3 -->

  <div *ngIf="tourC">
    <div class="absolute">
      <div class="flex">
        <div>
          <h1 class="center">
            Essa é a porcentagem de Cashback por transação que você obtém.
          </h1>
        </div>
        <div>
          <img class="invert" src="../../assets/icones/arrowup-icon.svg" alt="">
        </div>
      </div>
    </div>
    <div class="blur">
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
    </div>


    <div>
      <h1 class="title-section">
        Porcentagem do cashback
      </h1>
      <div class="flex-itens">
        <p>
          Pagamentos de Contas
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Recargas
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          TED
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Uso do Cartão
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
    </div>

    <div class="bottom">
      <div (click)="openTourD()" class="cta-tour">
        Perfeito, continuar
      </div>
    </div>
  </div>


  <!-- TOUR 4 -->

  <div *ngIf="tourD">
    <div class="absolute">
      <div class="flex">
        <div>
          <h1 class="center">
            Esse é o seu histórico
          </h1>
        </div>
        <div>
          <img class="invert" src="../../assets/icones/arrowup-icon.svg" alt="">
        </div>
      </div>
    </div>

    <div class="blur">
      <div style="margin-top: 30px;" class="flex-itens">
        <p>
          Você possui:
        </p>
        <p style="font-weight: 700;">
          0 pontos
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
      <div class="flex-itens">
        <p>
          Lorem Ipsum
        </p>
        <p style="font-weight: 700;">
          0,0%
        </p>
      </div>
    </div>


    <h1 style="margin: 60px 20px;" class="title">
      Histórico de Pontos e Cashback
    </h1>


    <div class="cards">

      <!-- BOTÃO ATIVO PADRÃO -->

      <div class="btn-ativo">
        <div class="flex-start">
          <div>
            <img src="../../assets/icones/transfer-illustration.svg" alt="">
          </div>
          <div class="infos-card">
            <p>
              Transferência
            </p>
            <p class="data">
              05/01/2020 às 14:37
            </p>
          </div>
        </div>
        <div class="pontos">
          00 pontos
        </div>
      </div>

      <div class="btn-ativo">
        <div class="flex-start">
          <div>
            <img src="../../assets/icones/share-illustration.svg" alt="">
          </div>
          <div class="infos-card">
            <p>
              Indicar Amigos
            </p>
            <p class="data">
              05/01/2020 às 14:37
            </p>
          </div>
        </div>
        <div class="pontos">
          00 pontos
        </div>
      </div>

      <div class="btn-ativo">
        <div class="flex-start">
          <div>
            <img src="../../assets/icones/cashback-illustration.svg" alt="">
          </div>
          <div class="infos-card">
            <p>
              Cashback
            </p>
            <p class="data">
              05/01/2020 às 14:37
            </p>
          </div>
        </div>
        <div class="pontos">
          0,00
        </div>
      </div>

      <div class="blur">

        <!-- BOTÃO COM LINE THROUGH -->

        <div class="btn-riscado">
          <div class="flex-start">
            <div>
              <img src="../../assets/icones/transfer-illustration.svg" alt="">
            </div>
            <div class="infos-card">
              <p>
                Transferência
              </p>
              <p class="data">
                05/01/2020 às 14:37
              </p>
            </div>
          </div>
          <div class="pontos">
            00 pontos
          </div>
        </div>

        <div class="btn-ativo">
          <div class="flex-start">
            <div>
              <img src="../../assets/icones/ted-illustration.svg" alt="">
            </div>
            <div class="infos-card">
              <p>
                TED
              </p>
              <p class="data">
                05/01/2020 às 14:37
              </p>
            </div>
          </div>
          <div class="pontos">
            00 pontos
          </div>
        </div>

        <!-- BOTÃO COM OPACIDADE -->

        <div class="btn-opacidade">
          <div class="flex-start">
            <div>
              <img src="../../assets/icones/share-illustration.svg" alt="">
            </div>
            <div class="infos-card">
              <p>
                Indicar Amigos
              </p>
              <p class="data">
                05/01/2020 às 14:37
              </p>
            </div>
          </div>
          <div class="pontos">
            00 pontos
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div (click)="openTourE()" class="cta-tour">
        Já dominei tudo, continuar
      </div>
    </div>

  </div>



  <!-- TOUR 5 -->

  <div *ngIf="tourE">

    <div class="absolute">
      <div class="flex">
        <div>
          <h1 class="center">
            Os cards riscados são pontos já utilizados.
          </h1>
        </div>
        <div>
          <img class="invert" src="../../assets/icones/arrowup-icon.svg" alt="">
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="blur">
        <!-- BOTÃO ATIVO PADRÃO -->
        <h1 style="margin: 40px 20px;" class="title">
          Histórico de Pontos e Cashback
        </h1>

        <div class="btn-opacidade">
          <div class="flex-start">
            <div>
              <img src="../../assets/icones/cashback-illustration.svg" alt="">
            </div>
            <div class="infos-card">
              <p>
                Cashback
              </p>
              <p class="data">
                05/01/2020 às 14:37
              </p>
            </div>
          </div>
          <div class="pontos">
            0,00
          </div>
        </div>
      </div>

      <!-- BOTÃO COM LINE THROUGH -->

      <div class="btn-riscado">
        <div class="flex-start">
          <div>
            <img src="../../assets/icones/transfer-illustration.svg" alt="">
          </div>
          <div class="infos-card">
            <p>
              Transferência
            </p>
            <p class="data">
              05/01/2020 às 14:37
            </p>
          </div>
        </div>
        <div class="pontos">
          00 pontos
        </div>
      </div>
      <div class="blur">
        <div class="btn-ativo">
          <div class="flex-start">
            <div>
              <img src="../../assets/icones/ted-illustration.svg" alt="">
            </div>
            <div class="infos-card">
              <p>
                TED
              </p>
              <p class="data">
                05/01/2020 às 14:37
              </p>
            </div>
          </div>
          <div class="pontos">
            00 pontos
          </div>
        </div>

        <!-- BOTÃO COM OPACIDADE -->

        <div class="btn-opacidade">
          <div class="flex-start">
            <div>
              <img src="../../assets/icones/share-illustration.svg" alt="">
            </div>
            <div class="infos-card">
              <p>
                Indicar Amigos
              </p>
              <p class="data">
                05/01/2020 às 14:37
              </p>
            </div>
          </div>
          <div class="pontos">
            00 pontos
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div (click)="openTourF()" class="cta-tour">
        Entendi, continuar
      </div>
    </div>
  </div>



  <!-- TOUR 6 -->

  <div *ngIf="tourF">
    <div style="margin-top:100px;" class="absolute">
      <div class="flex">
        <div>
          <h1 class="center">
            Os cards menos visíveis são pontos expirados.
          </h1>
        </div>
        <div>
          <img class="invert" src="../../assets/icones/arrowup-icon.svg" alt="">
        </div>
      </div>
    </div>

    <div class="blur">


      <h1 style="margin: 40px 20px;" class="title">
        Histórico de Pontos e Cashback
      </h1>

      <div class="cards">


        <!-- BOTÃO COM LINE THROUGH -->

        <div class="btn-opacidade">
          <div class="flex-start">
            <div>
              <img src="../../assets/icones/transfer-illustration.svg" alt="">
            </div>
            <div class="infos-card">
              <p>
                Transferência
              </p>
              <p class="data">
                05/01/2020 às 14:37
              </p>
            </div>
          </div>
          <div class="pontos">
            00 pontos
          </div>
        </div>

        <div class="btn-opacidade">
          <div class="flex-start">
            <div>
              <img src="../../assets/icones/ted-illustration.svg" alt="">
            </div>
            <div class="infos-card">
              <p>
                TED
              </p>
              <p class="data">
                05/01/2020 às 14:37
              </p>
            </div>
          </div>
          <div class="pontos">
            00 pontos
          </div>
        </div>
      </div>
    </div>
    <!-- BOTÃO COM OPACIDADE -->



    <div class="btn-opacidade">
      <div class="flex-start">
        <div>
          <img src="../../assets/icones/share-illustration.svg" alt="">
        </div>
        <div class="infos-card">
          <p>
            Indicar Amigos
          </p>
          <p class="data">
            05/01/2020 às 14:37
          </p>
        </div>
      </div>
      <div class="pontos">
        00 pontos
      </div>
    </div>

    <div class="bottom">
      <div [routerLink]="['/rewards']" class="flex" class="cta-tour">
        Entendi, encerrar tour
      </div>
    </div>
  </div>
</ion-content>