<ion-content>
  <div class="container">
    <ion-slides autoplay="200" pager="true" class="container">
      <ion-slide>
        <img class="slides" src="../../assets/slide-1.png" alt="">
      </ion-slide>

      <ion-slide>
        <img class="slides" src="../../assets/slide-2.png" alt="">
      </ion-slide>
    </ion-slides>

    <div class="absolute">

      <div>
        <h1 class="title">
          Lorem ipsum amec daes penat
        </h1>
        <p class="sub">
          Tristique risus nec feugiat in fermentum. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris.
        </p>
      </div>
      <div class="flex">
        <div [routerLink]="['/cadastro']" class="cta-white">
          Cadastro
        </div>
        <div [routerLink]="['/login']" class="cta-gray">
          Login
        </div>
      </div>

    </div>
  </div>
</ion-content>